@using Microsoft.AspNetCore.Http
@{
    string app_ver = System.Reflection.Assembly.GetAssembly(typeof(AgileConfig.Server.Apisite.Program)).GetName().Version.ToString();
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agile Config Console - @app_ver</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    @*    site css*@
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/Angular/loading-bar.min.css" rel="stylesheet">
    <link href="~/lib/code_mirror/lib/codemirror.css" rel="stylesheet" asp-append-version="true">

</head>

<body ng-app="app">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                </a>
                <a class="navbar-brand" href="#" style="color: #fff">
                    Agile Config Console - @app_ver
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
                @using (Html.BeginForm("Logoff", "admin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right login">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">退出</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                @(await Html.PartialAsync("_sidebar"))
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
                <div class="text-muted powered">
                    Powered by .net core 3.1
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/lib/code_mirror/lib/codemirror.js"></script>
    <script src="~/lib/code_mirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/code_mirror/mode/yaml/yaml.js"></script>

    <script src="~/js/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/Angular/angular.min.js"></script>
    <script src="~/lib/Angular/angular-animate.min.js"></script>
    <script src="~/lib/Angular/angular-ui-router.js"></script>
    <script src="~/lib/Angular/angular.cookie.min.js"></script>
    <script src="~/lib/Angular/loading-bar.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/js/directives/ngbootstrappagebar.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>